html 
{
background-color: lightblue;
font-family: 'Raleway', sans-serif;
}

.myLogo 
{
width: 100px;
height: 100px;
padding-left: 50px;
}

.overallContainer
{
width: 100%;
display: flex;
}

.leftContainer
{
width: 50%;
text-align: center;
font-weight: bolder;
border: double;
font-size: 20px;
}

.rightContainer 
{
width: 50%;
text-align: center;
font-weight: bolder;
border: double;
font-size: 20px;
}

.myHeader 
{
color: brown;
text-align: center;
padding-bottom:0px;
}
#searchField{
	text-align: left;
	height: 30px;
	font-size: 16px;
	width: 250px;
	margin-bottom: 5px;
}
#tempButton{
	width: 120px;
	height: 30px;

}

