extends layout
block title 
	title Welcome!

block body
	div.overallContainer
		section
			div.contOne
				h1 In tribute to the greatest game on Earth.
				iframe(width="560" height="315" src="https://www.youtube.com/embed/xWJwZ3JfL_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		section 
			.contOne
				p.homePara.
					One of the semi-hidden treasures of the world, hockey
					is filled with thrilling, action-packed play from beginning to end. 
					This page is intended to bring out or increase your affinity towards
					hockey and provide easily-accessible information. 