doctype html
html
	block head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="/css/style.css")
		link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		a(href = 'https://github.com/mjp1997')
			i.fa.fa-github.fa-2x
		a(href = 'https://www.linkedin.com')
			i.fa.fa-linkedin.fa-2x
		li.right
			a.buttonStyle(href='/') Home
		li.right
			a.buttonStyle(href='/teamstats') Rosters
		li.right
			a.buttonStyle(href='/standings') Standings
		li.right
			a.buttonStyle(href='hockeyresources') Keep Up with the NHL	
		block title

	body
		.clear
		block body

		