extends layout
block title 
    title Team Stats

block body
    h1 Team Rosters
    p.homePara(style='text-align:center').
        The NHL is comprised of 31 teams, the newest being the Vegas Golden Knights. 

        
    div#changeViaOpt Wish to learn more about the teams and players?

    .overallContainerTeam
        input#dropDownInfo(placeholder = "Please enter an NHL team: ", oninput='filterTeams()')
        input#filterPlayers(placeholder = "Please enter a player: ", oninput='filterPlayers()')
        .contOneTeam
            div#myModal.modal
                div.modal-content
                    button#closeMod.close &times;
                br
                br
            div#displayTeams
            div#displayPlayers
        
        div.optionCont
            div.optionWrapper 
                button(src="images/filterbyteam.jpg", alt="", id = 'teamSelect',  class = 'buttonStyle',  onclick = 'buttonLink()') heck yeah, sounds great!
                .dropDownWrapper
                ul#pasteData
                .contTwoWrapper
            script(src="/js/standings.js")
            script(src="/js/statsRetriever.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
            script(src="/js/jquery.js")