extends layout
block title 
    title Team Stats

block body
    h1 Team Rosters
    p.homePara(style='text-align:center').
        The NHL is comprised of 31 teams, the newest being the Vegas Golden Knights. 

        
    div#changeViaOpt Would you like to search by:

    .overallContainerTeam
        input#dropDownInfo(placeholder = "Please enter an NHL team", oninput='filterTeams()')
        .contOneTeam
            div#displayTeams
            div#displayPlayers
                br
                br
        
        div.optionCont
            div.optionWrapper 
                div.optionLabel Team
                img(src="images/filterbyteam.jpg", alt="", width = "300px", id = 'teamSelect',  onclick = 'buttonLink()')
                .dropDownWrapper
                ul#pasteData
                .contTwoWrapper
            script(src="/js/standings.js")
            script(src="/js/statsRetriever.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
            script(src="/js/jquery.js")