html{
font-family: 'Raleway', sans-serif;
background: #4FB9E0;
color: white;
}
body{
	margin:0;
}
.nhlLogo 
{
width: 100px;
height: 100px;
padding-left: 50px;
}
#changeViaOpt{
	text-align: center;
	font-size: 20px;
	padding-bottom: 25px;
}
h1{
    text-align: center;
    margin: 0;
    padding-top: 40px;
    font-size: 45px;
    color: white;
    padding-bottom: 40px;
}
li{
	list-style-type: none;
}
#ovieImg{
	width: 800px;
	height: 500px;
	opacity: 0.5;
	/* float: right; */
	padding-right: 20px;
	position: absolute;
	margin: 0 auto;
}
.homePara{
	line-height: 1.55;
	font-size: 20px;
	white-space: pre;

}
.overallContainer
{
/* display: flex; */
}
.overallContainerTeam{
	/* display: flex; */
}
#pasteData{
	font-size:20px;
    padding-inline-start: 0px;
	
}
#headerText{
	padding-top:30px;
	text-align: center;
}
.itemWrapper{
	display: flex;
	margin: auto;
}
.formatDiv{
	text-align: right;
}
.contOne
{
 	text-align: center;
    font-size: 20px;
    /* width: 33%; */
    /* margin: auto; */
	padding-left: 40px;
	line-height: 100px;

}

#teamSelect {
/* opacity: 0.7; */
}

.contOneTeam {
    /* text-align: center; */
    font-size: 20px;
	width: 40%;
	padding-top: 30px;
    /* width: 33%; */
    margin: auto;
    /* margin: auto; */
    /* padding-left: 40px;
}
.contTwo{
text-align: center;
font-weight: bolder;
font-size: 20px;
width: 43%;
display: flex;
padding-top: 73px;
}
.contTwoWrapper{
    padding-top: 38px;
    position: relative;
    padding-left: 20px;
	display: inline-block;
	margin: 0 auto;
	/* padding-right: 30px; */
}

.contOneWrapper{
	align-items: center;
	justify-content: center;
	display: grid;
}
.myHeader 
{
color:white;
display:flex;
background-color: #347B98;
margin:0;
}
.rosterHeader{
	padding-top: 20px;
	font-size: 30px;
	padding-bottom: 10px;
}
.containerDiv{
	color: blue;
}
#dropDownInfo{
	position: relative;
	display: none;
	outline-width: 0;
    width: 35%;
    border-top: none;
    /* border-bottom: 2px #f5f2f2; */
    margin: auto;
    padding: 6px 8px 6px 10px;
    height: 25px;
    border-left: none;
    border-left-width: initial;
    border-left-style: none;
    border-left-color: initial;
    border-right: none;
    font-size: 20px;
    color: white;
    text-shadow: 0 1px white;
    background: #4FB9E0; 
	
}

#filterPlayers{
	position: relative;
    display: none;
	width: 35%;
	outline-width: 0;
    border-top: none;
    /* border-bottom: 2px #f5f2f2; */
    margin: auto;
    padding: 6px 8px 6px 10px;
    height: 25px;
    border-left: none;
    border-left-width: initial;
    border-left-style: none;
    border-left-color: initial;
    border-right: none;
    font-size: 20px;
    color: white;
    text-shadow: 0 1px white;
    background: #4FB9E0; 
	
}
.optionLabel{
	text-align: center; 
	padding-bottom: 10px;
    padding-left: 100px;
    margin: 0;
    font-size: 35px;
	color: white;
	width: 30%;
	/* opacity: 0.7; */
    /* padding-bottom: 40px; */
}

/* .optionLabel:hover{
	opacity: 1.0;
	cursor: pointer;
	-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2)
	
} */
.optionCont{
    width: 19%;
    text-align: center;
    margin: auto;
    display: block;
}
/* .optionCont{
opacity: 1.0;
cursor: pointer;
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2)
} */

#standingsDropDown{
	position: relative;
	width: 30%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: 6px 8px 6px 10px;
	height: 37px;
	line-height: 14px;
	font-size:20px;
	color: #62717a;
	text-shadow: 0 1px white;
	background: #f2f2f2
}
.imgleftCont{
	width: 50%;
}
.buttonStyle{
	/* display:inline-block; */
	padding:0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	/* margin:0 0.3em 0.3em 0; */
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Raleway', sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background: #4FB9E0;
	text-align:center;
	transition: all 0.2s;
	height: 40px;
	border-radius: 8px;

}
.buttonStyle:hover{
	color:#000000;
	cursor: pointer;
	background-color:#FFFFFF;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    background-color: #CFCFCF
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5
}
::-webkit-scrollbar-thumb {
    background-color: #2C3E50
}

li:active {
	background: #aaabac;
	-webkit-box-shadow: inset 0px 0px 5px #838282;
	-moz-box-shadow: inset 0px 0px 5px #838282;
	box-shadow: inset 0px 0px 5px #838282;
	outline: none;
  }
.dropDownText{
	font-family:'Open Sans', sans-serif;
	color:white;
	text-align: center;
	height:55px;
	margin-left: 20px;
	border: 1px white solid;
	padding: 5px;
	background-color: #347B98;

}
.dropDownText:hover{
	cursor: pointer;
	background-color: #9dd6ee;
}

.formatResult{
	/* padding-bottom: 10px; */
	border-style: outset;
	background-color:#1b7fa9;
	color: white;
	padding: 10px;
	border-top: 3px solid rgb(207, 212, 226);
	border-bottom: 0px;
	border-left: 3px solid rgb(207, 212, 226);
	border-right: 3px solid rgb(207, 212, 226);
	cursor: pointer;
	font-size: 20px;
}
.playerPicCont{
	padding-bottom: 18px;
}
.playerImg{
	height: 125px;
    width: 125px;
	text-align: right;
	border-radius: 50%;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/* overflow: auto; Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #1b7fa9;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	text-align: center;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 35px;
	font-weight: bold;
	background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

.formatResult:hover{
	cursor:pointer;
	background-color:#9dd6ee;
}
.formatStandings {	
    border-style: outset;
    background-color: #347B98;
    color: white;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 25p;
    border-top: 3px solid rgb(207, 212, 226);
    border-bottom: 0px;
    border-left: 3px solid rgb(207, 212, 226);
    border-right: 3px solid rgb(207, 212, 226);
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 27px;
    border-radius: 6px;
    text-align: center;
    line-height: 1.55;
	}

.standingsContainer{
	display: flex;
	width: 100%;
}
#displayTeams{
	display:none;
}
#displayPlayers{
	display: none;
}
#metroDiv{
	width: 20%;
	font-size: 35px;
	padding-bottom: 20px;
}
ul{
	text-align: center;
}
#atlanticDiv{
	width: 20%;
	font-size: 35px;
	padding-bottom: 20px;
}
#centralDiv{
	width: 20%;
	font-size: 35px;
	padding-bottom: 20px;
}
#pacificDiv{
	width: 20%;
	font-size: 35px;
	padding-bottom: 20px;
}
.teamLogo{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	float: left;
	margin-bottom: 10px;
	/* position: absolute; */
	/* float:left; */
}
.teamLogoTwo{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	float: left;
	margin-bottom: 10px;
	/* position: absolute; */
	/* float:left; */
}
.teamLogoStats{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-bottom: 10px;
}
.teamOTLogo{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-bottom: 10px;

}
  option{	
		/* display: none; */
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
  }
  .popUpHead{
	  font-size: 35px;
	  color: white; 
	  padding-top: 20px;
	  padding-bottom: 20px;
  }
	.bodyContent{
		background-color: #1b7fa9;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
		text-align: center;
		padding-top: 10px;
		}
	#buttonCont{
		text-align: center;
		padding-bottom: 20px;
	}

	.fa-github{
		color: #236AB9;
		padding-left: 20px;
		padding-top: 20px;
	}
	.fa-github:hover{
		color: #b1d1f1;
		/* padding-left: 20px;
		padding-top: 20px; */
	}
	.fa-linkedin{
		color: #236AB9;
		padding-left: 20px;
		padding-top: 20px;
	}
	.fa-linkedin:hover{
		color: #b1d1f1;
		/* padding-left: 20px;
		padding-top: 20px; */
	}
	.right {
		float: right;
	}
	.right:hover{
		background: #4FB9E0;
	}
	
	.button {
		    /* background-color: #347B98; */
			background: #4FB9E0;
			color: white;
			padding: 10px 26px;
			border: 1px solid;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 10px 10px 10px 10px;
			border-radius: 8px;
		}
	
	.button:hover{
		background-color: rgb(157, 205, 224);
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: white;
		font-family: 'Raleway', sans-serif;
		opacity: 1; /* Firefox */
	  }
	  
	  :-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: white;
	  }
	  
	  ::-ms-input-placeholder { /* Microsoft Edge */
		color: white;
	  }
